{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="w-full max-w-xs mx-auto mt-32">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-6 mb-4" method="post">
        {% if error %}
            <div class="w-full bg-red-100 border border-red-500 rounded p-2 text-sm text-red-500 mb-3">{{ error
                .messageKey|trans
                    (error.messageData,
                    'security')
                }}</div>
        {% endif %}

        {% if app.user %}
            <div class="w-full bg-orange-100 border border-orange-500 rounded p-2 text-sm text-orange-500 mb-3">
                You are logged in as <span class="font-bold">{{ app.user.username }}</span> , <a class="text-blue-700
                underline" href="{{
                path
                    ('app_logout')
                }}">logout</a>
            </div>
        {% endif %}

        <div class="w-full flex justify-center">
            <h1 class="text-2xl text-gray-800 mb-6">Please sign in</h1>
        </div>
        <div class="mb-4">
            <label class="block text-gray-600 text-sm mb-2" for="inputUsername">Username</label>
            <input class="shadow-inner border rounded py-2 px-3 w-full" type="text" value="{{ last_username
            }}"
                   name="username"
                   id="inputUsername"
                   required autofocus>
        </div>
        <div class="mb-4">
            <label class="block text-gray-600 text-sm mb-2" for="inputPassword">Password</label>
            <input class="shadow-inner border rounded py-2 px-3 w-full" type="password" name="password"
                   id="inputPassword"
                   required>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >


        {#    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
        {#    See https://symfony.com/doc/current/security/remember_me.html#}

        <div class="checkbox mb-4">
            <label>
                <input class="mr-2" type="checkbox" name="_remember_me">
                <span class="text-sm text-gray-600">
                    Remember me
                </span>
            </label>
        </div>


        <button class="shadow bg-indigo-500 hover:bg-indigo-600 text-white py-2 px-4 rounded focus:outline-none
                focus:shadow-outline w-full" type="submit">
            Sign in
        </button>
        <div class="flex justify-start mt-4">
            <a class="text-gray-500 hover:text-gray-600 underline" href="{{ path('home') }}">back</a>
        </div>
    </form>
</div>
{% endblock %}
