{% extends 'admin/layout/base.html.twig' %}

{% block title %}API Sandbox{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <div>
            <h1>My repos</h1>

            <div class="pm-table-wrapper">
                <table class="pm-table">
                    <thead class="bg-gray-100">
                    <tr>
                        <th scope="col" class="pm-th">Name</th>
                        <th scope="col" class="pm-th">Description</th>
                        <th scope="col" class="pm-th">Github</th>
                    </tr>
                    </thead>
                    <tbody class="pm-tbody">
                    {% for repo in repos %}
                        <tr>
                            <td class="pm-td">
                                <a href="{{ path('admin_api_sandbox_show', {'id': repo.id}) }}"
                                   class="text-indigo-500 hover:text-indigo-700 hover:underline">
                                    {{ repo.name }}
                                </a>
                            </td>
                            <td class="pm-td">{{ repo.description }}</td>
                            <td class="pm-td">
                                <a href="{{ repo.html_url }}" target="_blank" class="text-indigo-500 hover:text-indigo-700 hover:underline">
                                    {{ repo.full_name }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
