{% import '_macros/front-nav.twig' as nav %}

{% set currentRoute = app.request.get('_route') %}

<nav class="bg-dark">
    <div class="container mx-auto flex justify-between">
        <div>
            <ul class="flex">
                <li>
                    <a class="inline-block text-light hover:bg-primary p-4 font-bold"
                       href="{{ path('front_home')}}">
                        Pierre MULLER
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="flex">
                {{ nav.item('Projects', '#', currentRoute) }}
                {{ nav.item('Services', '#', currentRoute) }}
                {{ nav.item('Clients', '#', currentRoute) }}
                {{ nav.item('Contact', '#', currentRoute) }}
                <li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="inline-block text-light hover:bg-primary p-4" href="{{ path('app_logout') }}">Logout</a>
                    {% else %}
                        <a class="inline-block text-light hover:bg-primary p-4" href="{{ path('app_login') }}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>