{% import '_macros/front-nav.twig' as nav %}

{% set currentRoute = app.request.get('_route') %}

<header>
    <nav class="flex justify-between bg-indigo-700 p-4">
        <div>
            <ul class="flex">
                <li>
                    <a class="text-gray-400 hover:text-white py-4 px-2 text-xl" href="{{ path('front_home')}}">Pierre
                        MULLER</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="flex">
                {{ nav.item('Projects', '#', currentRoute) }}
                {{ nav.item('Services', '#', currentRoute) }}
                {{ nav.item('Clients', '#', currentRoute) }}
                {{ nav.item('Contact', '#', currentRoute) }}
                <li class="mr-6">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="text-gray-400 hover:text-white py-4 px-2" href="{{ path('app_logout') }}">Logout</a>
                    {% else %}
                        <a class="text-gray-400 hover:text-white py-4 px-2" href="{{ path('app_login') }}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
</header>