{% extends 'admin/layout/base.html.twig' %}

{% block title %}Projects index{% endblock %}

{% block body %}
    <h1>Project index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Year</th>
                <th>Url</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.type }}</td>
                <td>{{ project.year ? project.year|date('Y-m-d') : '' }}</td>
                <td>{{ project.url }}</td>
                <td>
                    <a href="{{ path('admin_project_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('admin_project_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_project_new') }}">Create new</a>
{% endblock %}
