{{ form_start(form) }}
    <div class="grid grid-cols-3 gap-16">
        <div class="col-span-2">
            {{ form_row(form.title) }}
            {{ form_row(form.content) }}
        </div>
        <div>
            {{ form_row(form.category) }}
            {{ form_row(form.tags) }}
            <button class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 mt-4">
                {{ button_label|default('Save') }}
            </button>
        </div>
    </div>
{{ form_end(form) }}
